{% extends 'base.html' %}

{% block title %}
FOOD WORLD
{% endblock %}


{% block js %}
{% load static %}

{% endblock %}



{% block content %}
{% load static %}


  <div style="height: 600px;width: 100%;">
    {% include 'slicebox.html' %}
  </div>

  <div style="height: 700px;">
    <form method="GET" action=".">
      <h2 style = "color: #212529" align="center">Want to order yourself</h2>
      <div class="form-row">
        <div class="form-group col-lg-12" align="center">
          <input class="form-control" type="text" style="width:300px;height:40px;" name="particular_thing" placeholder="write here"><br>
          <button type="submit" class="btn btn-danger  ">Search</button>
        </div>
      </div><br>

      <h2  style = "color: #212529"  align="center">Want us to help you </h2>
      <div class="form-row col-lg-10" style = "margin:auto;">
        <div class="form-group col-md-3">
          <label style = "font-size:20px;text-align:center; width:100%;" for="category">Vegginess</label>
          <select id="vegginess" class="form-control" name="vegginess">
            <option selected>Choose...</option>
            {% for i in vegginess  %}
            <option type = "checkbox" value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-3">
          <label style = "font-size:20px;text-align:center; width:100%;" for="dishOrigin" >Dish Origin</label>
          <select id="dishOrigin" class="form-control" name="dishOrigin">
            <option selected>Choose...</option>
            {% for i in dishOrigin  %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-3">
          <label style = "font-size:20px;text-align:center; width:100%;" for="startersOrMaincourse">Kind Of Food</label>
          <select id="startersOrMaincourse" class="form-control" name="startersOrMaincourse">
            <option selected>Choose...</option>
            {% for i in startersOrMaincourse  %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group col-md-3">
          <label style = "font-size:20px;text-align:center; width:100%;" for="spicyness">Spicyness</label>
          <select id="spicyness" class="form-control" name="spicyness">
            <option selected>Choose...</option>
            {% for i in spicyness  %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <br>

      <div class="form-row">
        <div class="form-group col-md-12" align="center">
          <input     style = "width:50%;height:40px;" class = "form-control" type="text" name="budget" placeholder="Budget">
        </div>
      </div><br>
      <div class="form-group col-md-12" align="center">
          <button align = "center" type="submit" class="btn btn-danger">Search</button>
      </div>


  </form>
</div>


<div class="container">
  <div class="row">
    {% for dish in queryset %}
    <div class="col-sm-3">
      <div class="card align-items-center" style="width: 18rem;border-width: 5px;border: 2px solid #808080b8;">
        <img class="card-img-top" width="150px" height="150px" src="media/{{dish.image}}" alt="Card image cap"></<img>
        <div class="card-body">
          <h5 class="card-title " id=namepr{{dish.id}} style="font-weight: bolder;"> {{ dish.name }}</h5>
          <p class="card-text" style="text-align: center;;font-weight: bolder;">Rs.{{dish.price}}</p>
          <span id="divpr{{dish.id}}" class="divpr">
            <a href="{% url 'productpage' dish.id %}">
              <button id="pr{{dish.id}}" class="btn btn-success">Quick View</button></a>
          </span>
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>

</div>

{% endblock %}
